<mat-toolbar>
    <div class="branding">
        <img class="bran_img" [src]="logo" />
        <span class="bran_text">GSEC Workflow designer</span>
    </div>
    <div class="nav_items" fxShow="true" fxHide.lt-md="true">
        <mat-nav-list>
            <a mat-button *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">
                {{item.label}}
            </a>
        </mat-nav-list>

    </div>

    <div class="nav_items" fxShow="true" fxHide.gt-sm="true">
        <a mat-button href="javascript:;" (click)="sidenav.toggle()">Show Side Menu</a>
    </div>

</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" mode="side" opened="false">
        <div fxLayout="column" class="sidenav-header">
            <mat-nav-list>
                <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">
                    {{item.label}}
                </a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
        <div class="footer">
            <div class="row">
                <div class="col-12 signature">
                    &#169; {{year}} - GSEC
                    <br class="d-block d-sm-none">
                    <a matTooltip="Current version" matTooltipPosition="before">
                        <i class="fa fa-rocket"></i> {{version}}
                        <span *ngIf="!isProd">[{{envName}}]</span>
                    </a>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

